{{ define "main" }}
<content>
  <small
    ><i
      >Hey, just reminding that I feel anxious releasing stuff to the public.
      Please be gentle.</i
    ></small
  >
  {{ if .Data.Singular }}
  <h3>Posts tagged "{{ .Title }}"</h3>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <span>
        <time
          itemprop="datePublished"
          datetime='{{ .Date.Format "2006-01-02" }}'
        >
          {{ .Date | time.Format .Site.Params.dateFormat }}
        </time>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>No posts yet</li>
    {{ end }}
  </ul>
  {{ if .Data.Singular }} {{else}}
  <small>
    <div>
      {{ with .Site.Taxonomies.tags}} Posts tagged {{ range .}}
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ end }} {{ end }}
    </div>
  </small>
  {{ end }}
</content>
{{ end }}
