{{ define "main" }} {{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h2>{{ .Title }}</h2>
<small>
    published
    <time itemprop="datePublished" datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date | time.Format .Site.Params.dateFormat }}
    </time>
</small>
<small>
    {{ if ne .Date .Lastmod }} | modified
    <time itemprop="dateModified" datetime='{{ .Lastmod.Format "2006-01-02" }}'>
      {{ .Lastmod | time.Format .Site.Params.dateFormat }}
    </time>
    {{end}}
</small>
</br />
<small>
  {{ with .GetTerms "tags" }}tagged {{ range . }}
  <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
  {{ end }} {{ end}}
</small>
{{ end }}{{ end }}
<slot>{{ .Content }}</slot>
{{ end }}
