<style>
  body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    color: #111;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.6;
    background-color: #eee;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #111;
  }

  span.purple {
    background-color: #caa4ea;
    padding: 2px;
  }
  span.blue {
    background-color: #9fd4f2;
    padding: 2px;
  }
  span.green {
    background-color: #66ffcc;
    padding: 2px;
  }
  span.red {
    background-color: #ff9385;
    padding: 2px;
  }
  span.gold {
    background-color: #ffd36c;
    padding: 2px;
  }

  a {
    color: #333333;
    text-decoration-thickness: 2px;
  }

  .title {
    font-size: 80%;
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.profile {
    max-width: 256px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid;
    color: #222;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #222;
      color: #eee;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #eee;
    }

    span.purple {
      background-color: #4e008e;
    }
    span.blue {
      background-color: #1a466e;
    }
    span.green {
      background-color: #00583a;
    }
    span.red {
      background-color: #942503;
    }
    span.gold {
      background-color: #85600a;
    }

    a {
      color: #bebebe;
    }

    code {
      background-color: #777;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }
  }
</style>
